/* Copyright 2023 The ChromiumOS Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* Roach program common DTS includes */

#include <cros/touchpad_hashes.dtsi>

#include "../gpio.dtsi"
#include "../uart.dtsi"
#include "../i2c.dtsi"
#include "../interrupts.dtsi"
#include "../keyboard.dtsi"
#include "../pwm.dtsi"
#include "../rwsig.dtsi"

/ {
	aliases {
		usb-hid-tp = &usb_hid_tp;
	};

	hid_kb_dev: hid_kb_dev {
		compatible = "zephyr,hid-device";
		interface-name = "HID0";
		protocol-code = "keyboard";
		in-polling-rate = <1>;
		in-report-size = <64>;
	};

	hid_tp_dev: hid_tp_dev {
		compatible = "zephyr,hid-device";
		interface-name = "HID1";
		protocol-code = "none";
		in-polling-rate = <1>;
		in-report-size = <64>;
	};
};

&i2c0 {
	touchpad@15 {
		/* not tested, don't care on reference board */
		logical_max_x = <2644>;
		logical_max_y = <1440>;
		physical_max_x = <839>;
		physical_max_y = <457>;
	};
};

&touchpad_fw_hashes {
	size = <((65536 / 1024) * 32)>;
};

&sha0 {
	status = "okay";
};

zephyr_udc0: &usb0 {
	status = "okay";
	pinctrl-0 = <&usb0_dm_gph5_default
		     &usb0_dp_gph6_default>;
	pinctrl-names = "default";

	usb_hid_tp: usb-hid-tp {
		compatible = "cros-ec,usb-hid-touchpad";

		/* TODO: find a way to probe touchpad parameters
		 * dynamically.
		 */
		logical_max_x = <2925>;
		logical_max_y = <1440>;
		physical_max_x = <929>;
		physical_max_y = <457>;
		max_pressure = <511>;
	};
};
