# Copyright 2024 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

if PLATFORM_EC_USB_I2C || PLATFORM_EC_USB_UPDATE

config NET_BUF
	default y

config GOOGLE_VENDOR_RX_THREAD_PRIORTY
	int "Google update RX thread priority"
	default 8
	help
	  Set thread priority of the Google vendor RX.

config GOOGLE_VENDOR_RX_STACK_SIZE
	int "Size of the Rx thread stack"
	default 2048
	help
	  Size of the Rx thread stack.

config GOOGLE_VENDOR_TX_THREAD_PRIORTY
	int "Google update TX thread priority"
	default 8
	help
	  Set thread priority of the Google vendor TX.

config GOOGLE_VENDOR_TX_STACK_SIZE
	int "Size of the Tx thread stack"
	default 1024
	help
	  Size of the Tx thread stack.

endif # PLATFORM_EC_USB_I2C || PLATFORM_EC_USB_UPDATE
